openapi: 3.2.0
info:
  title: Productboard Public Entity Relationships API
  description: 'REST API v2 for managing entities (products, features, components, initiatives), notes

    (customer feedback), members, teams, Jira and plugin integrations, and webhooks within

    Productboard. Authentication uses Personal API Tokens (Bearer) or OAuth 2.0

    (authorization code or server-to-server JWT). Uses cursor-based pagination.

    '
  version: 2.0.0
  contact:
    name: Productboard Developer
    url: https://developer.productboard.com/
servers:
- url: https://api.productboard.com/v2
  description: Productboard REST API v2 base URL
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Entity Relationships
paths:
  /entities/{id}/relationships:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    get:
      tags:
      - Entity Relationships
      summary: List entity relationships
      responses:
        '200':
          description: Relationship list
    post:
      tags:
      - Entity Relationships
      summary: Create relationship
      responses:
        '201':
          description: Relationship created
    delete:
      tags:
      - Entity Relationships
      summary: Remove relationship
      responses:
        '204':
          description: Relationship removed
  /entities/{id}/relationships/parent:
    parameters:
    - $ref: '#/components/parameters/EntityId'
    put:
      tags:
      - Entity Relationships
      summary: Set or replace parent
      responses:
        '200':
          description: Parent set
components:
  parameters:
    EntityId:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API Access Token passed as `Authorization: Bearer <token>`.'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.productboard.com/oauth2/authorize
          tokenUrl: https://app.productboard.com/oauth2/token
          scopes: {}
