openapi: 3.2.0
info:
  title: Productboard Public Teams API
  description: 'REST API v2 for managing entities (products, features, components, initiatives), notes

    (customer feedback), members, teams, Jira and plugin integrations, and webhooks within

    Productboard. Authentication uses Personal API Tokens (Bearer) or OAuth 2.0

    (authorization code or server-to-server JWT). Uses cursor-based pagination.'
  version: 2.0.0
  contact:
    name: Productboard Developer
    url: https://developer.productboard.com/
servers:
- url: https://api.productboard.com/v2
  description: Productboard REST API v2 base URL
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Teams
paths:
  /teams:
    get:
      tags:
      - Teams
      summary: List teams
      responses:
        '200':
          description: Team list
      operationId: getTeams
      x-operation-id-source: derived
    post:
      tags:
      - Teams
      summary: Create team
      responses:
        '201':
          description: Team created
      operationId: postTeams
      x-operation-id-source: derived
  /teams/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Teams
      summary: Retrieve team
      responses:
        '200':
          description: Team record
      operationId: getTeamsById
      x-operation-id-source: derived
    patch:
      tags:
      - Teams
      summary: Update team
      responses:
        '200':
          description: Team updated
      operationId: patchTeamsById
      x-operation-id-source: derived
    delete:
      tags:
      - Teams
      summary: Delete team
      responses:
        '204':
          description: Team deleted
      operationId: deleteTeamsById
      x-operation-id-source: derived
  /teams/search:
    post:
      tags:
      - Teams
      summary: Search teams
      responses:
        '200':
          description: Search results
      operationId: postTeamsSearch
      x-operation-id-source: derived
  /teams/{id}/members:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Teams
      summary: List team members
      responses:
        '200':
          description: Team member list
      operationId: getTeamsByIdMembers
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API Access Token passed as `Authorization: Bearer <token>`.'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.productboard.com/oauth2/authorize
          tokenUrl: https://app.productboard.com/oauth2/token
          scopes: {}
