openapi: 3.2.0
info:
  title: Productboard Public Members API
  description: 'REST API v2 for managing entities (products, features, components, initiatives), notes

    (customer feedback), members, teams, Jira and plugin integrations, and webhooks within

    Productboard. Authentication uses Personal API Tokens (Bearer) or OAuth 2.0

    (authorization code or server-to-server JWT). Uses cursor-based pagination.

    '
  version: 2.0.0
  contact:
    name: Productboard Developer
    url: https://developer.productboard.com/
servers:
- url: https://api.productboard.com/v2
  description: Productboard REST API v2 base URL
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Members
paths:
  /members:
    get:
      tags:
      - Members
      summary: List workspace members
      responses:
        '200':
          description: Member list
  /members/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Members
      summary: Retrieve member
      responses:
        '200':
          description: Member record
  /members/search:
    post:
      tags:
      - Members
      summary: Search members
      responses:
        '200':
          description: Search results
  /members/{id}/activities:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Members
      summary: List member activity data
      responses:
        '200':
          description: Activity list
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API Access Token passed as `Authorization: Bearer <token>`.'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.productboard.com/oauth2/authorize
          tokenUrl: https://app.productboard.com/oauth2/token
          scopes: {}
