openapi: 3.2.0
info:
  title: Productboard Public Note Relationships API
  description: 'REST API v2 for managing entities (products, features, components, initiatives), notes

    (customer feedback), members, teams, Jira and plugin integrations, and webhooks within

    Productboard. Authentication uses Personal API Tokens (Bearer) or OAuth 2.0

    (authorization code or server-to-server JWT). Uses cursor-based pagination.

    '
  version: 2.0.0
  contact:
    name: Productboard Developer
    url: https://developer.productboard.com/
servers:
- url: https://api.productboard.com/v2
  description: Productboard REST API v2 base URL
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Note Relationships
paths:
  /notes/{id}/relationships:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Note Relationships
      summary: List note relationships
      responses:
        '200':
          description: Relationship list
    post:
      tags:
      - Note Relationships
      summary: Link note to entity or customer
      responses:
        '201':
          description: Relationship created
  /notes/{id}/relationships/{targetId}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    - name: targetId
      in: path
      required: true
      schema:
        type: string
    delete:
      tags:
      - Note Relationships
      summary: Remove relationship
      responses:
        '204':
          description: Relationship removed
  /notes/{id}/relationships/customer:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Note Relationships
      summary: Set or replace customer relationship
      responses:
        '200':
          description: Customer relationship set
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal API Access Token passed as `Authorization: Bearer <token>`.'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.productboard.com/oauth2/authorize
          tokenUrl: https://app.productboard.com/oauth2/token
          scopes: {}
